.receipt{
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.card{
  max-width: 25rem;
  margin: 1rem;
  border: 0.1rem solid $redPastel;
  border-radius: 1rem;
  box-shadow: 0.3rem 0.3rem 0.3rem $shadow;
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
  background: $orangeLightPastel;
  &:hover{
    transform: scale(1.01);
    background: $redPastel;
  }
  &__title{
    margin: 1rem;
    font-size: 1.5rem;
  }
  &__origin{
    font-size: 1.5rem;
  }
  &__img{
    margin: 2rem;
    width: 80%;
    border-radius: 1rem;
    box-shadow: 0.3rem 0.3rem 0.3rem $shadow;
  }
  &__instruction{
    margin: 2rem;
    font-size: 2rem;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 5; /* number of lines to show */
            line-clamp: 5; 
    -webkit-box-orient: vertical;
  }
  &__button{
    width: 15rem;
    height: 5rem;
    margin: 2rem;
    font-size: 2rem;
    border: 0;
    box-shadow: 0.3rem 0.3rem 0.3rem $shadow;
    border-radius: 1rem;
    cursor: pointer;
    &:hover{
      transform: scale(1.1);
    }
  }
}